<include file="Public/header" />
<style type="text/css">
.detail {border:1px solid #DDD; width:100%; margin-top:15px;}
.detail ul {margin:20px auto;}
.detail-top	li {list-style-type: none;line-height:34px;}
.detail-content {border:1px solid #DDD;}
</style>
<include file="Public/nav" />
	<!--start-list-->
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="detail">
						<div class="row detail-top">
							<div class="col-md-5"><img src="/Public/uploads/{$new_info.img}" width="300px" height="300px">
							</div>
							<div class="col-md-7">
								<ul>
									<li><span>啥子宝贝：</span><span>{$new_info.title}</span></li>
									<li><span>价格：</span><span>{$new_info.price}元</span></li>
									<li><span>成色：</span><span>95成新 </span></li>
									<li><span>浏览次数：</span><span>653次浏览</span></li>
									<li><span>联系人：</span><span>{$new_info.relation_name} </span></li>
									<li><span>电话：</span><span>{$new_info.phone}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="detail-content">
						<div>详情</div>
						<div>
							{$new_info.content|htmlspecialchars_decode}
						</div>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="advertise">
						这里是一个广告
					</div>
					<div class="advertise">
						这里是一个广告
					</div>
					<div class="advertise">
						这里是一个广告
					</div>
				</div>
			</div>
		</div>
	<!--end-list-->
<include file="Public/footer" />