<include file="Public/header" />

<include file="Public/nav" />
	<!--start-list-->
		<div class="container">
			<div class="check">
				<ul class="clearfix">
					<li>类别：</li>
					<li>三星</li>
					<li>华为</li>
					<li>小米</li>
					<li>苹果</li>
				</ul>
				<ul class="clearfix">
					<li>型号：</li>
					<li>iphone6s</li>
					<li>iphone6</li>
					<li>1phone5s</li>
					<li>iphone5</li>
				</ul>
				<ul class="clearfix">
					<li>价格：</li>
					<li>1000</li>
					<li>2000</li>
					<li>3000</li>
					<li>4000</li>
				</ul>
				<ul class="clearfix">
					<li>新旧：</li>
					<li>八成</li>
					<li>九成</li>
					<li>七成</li>
					<li>四城</li>
					<li>八成</li>
					<li>九成</li>
					<li>七成</li>
					<li>四城</li>
				</ul>
				<ul class="clearfix">
					<li>区域：</li>
					<li>四公寓</li>
					<li>五公寓</li>
					<li>三公寓</li>
					<li>二公寓</li>
					<li>二公寓1楼</li>
					<li>二公寓2楼</li>
					<li>女生公寓</li>
					<li>男生公寓六楼</li>
				</ul>
			</div>
			<div class="select">
				<div id="sel">
					<ul class="clearfix">
						<li>品牌</li>
						<li>型号</li>
						<li>价格</li>
						<li>区域</li>
					</ul>
				</div>

				<div class="content clearfix">
					<div>
						<ul>
							<li>三星</li>
							<li>华为</li>
							<li>小米</li>
							<li>苹果</li>
						</ul>
					</div>
					<div class="none">
						<ul>
							<li>iphone6s</li>
							<li>iphone6</li>
							<li>1phone5s</li>
							<li>iphone5</li>
						</ul>
					</div>
					<div class="none">
						<ul>
							<li>1000</li>
							<li>2000</li>
							<li>3000</li>
							<li>4000</li>
						</ul>
					</div>
					<div class="none">
						<ul>
							<li>四公寓</li>
							<li>五公寓</li>
							<li>三公寓</li>
							<li>二公寓</li>
							<li>二公寓1楼</li>
							<li>二公寓2楼</li>
							<li>女生公寓</li>
							<li>男生公寓六楼</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="search clearfix">
				<input class="form-control" type="text"/>
				<input type="button" class="btn btn-default" value="搜本类"/>
				<input type="button" class="btn btn-default" value="搜全站"/>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 list">
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
					<ul class="clearfix">
						<li><img src="__PUBLIC__/images/abt-1.jpg" alt="" width="70" height="60"/></li>
						<li class="li-details">
							<p>手机点餐软件</p>
							<p>安装热线168888171717</p>
							<p>北京/今天</p>
						</li>
						<li class="li-price"><span class="price">10元</span></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div class="advertise">
						这里是一个广告
					</div>
					<div class="advertise">
						这里是一个广告
					</div>
					<div class="advertise">
						这里是一个广告
					</div>
				</div>
			</div>
		</div>
	<!--end-list-->
<include file="Public/footer" />