<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 class="contentTitle">用户登录</h2>


<div class="user_login">
	
	<form method="post" action="/admin/admin/handleLogin">
		<p style="width:500px">
			<label>邮箱：</label>
			<input type="email" name="email" maxlength="20" class="required email" value="" />
		</p>
		<p style="width:500px">
			<label>密码：</label>
			<input type="password" name="password" class="required" value="" />
		</p>
		<p>
			<input type="submit" value="提交">
		</p>
	</form>
</div>

</body>
</html>