*{
	padding: 0px;
	margin: 0px;
	/*border:1px solid #000;*/
}
a{
	color:#000;
}
/*user_left*/
.user-sidebar{
		width:15%;
		float:left;
		height: auto;
}
#left-title{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}
#left-list ul{
	margin-left: 20%;
}
#left-list ul li{
	height: 30px;
	list-style: none;
	line-height: 30px;
}
#left-list ul li a{
	font-size: 12px;
}
#left-list ul li a:hover{
	color: red;
}