* {
	margin:0;
	padding:0;
}
#row .hd {
	height: 50px;
	border-top: 2px solid #206F96;
	text-align: center;
	font: 14px/30px "Á×ÂÎ";
}
#row .hd .s {
	height: 50px;
	line-height: 50px;
	cursor:pointer;
}
#row .bd ul {
	list-style: none;
}
#row .bd ul li {
	line-height: 30px; 
}
#row .bd ul li a:link, #row .bd ul li a:visited {
	text-decoration: none;
	color: #666;
	font-size: 14px;
}
#row .login{
	width: 100px
}
/*#row .form-group{
	width: 305px;
}
#row form{
	width: 280px;
}*/
#row .col-sm-offset-4{

}
#row .form-control{
	width: 100%
}
#phone {
	display: none;
}
.login_check{
	/*border:1px solid #000;*/
	width:305px;
	height:25px;
	float:left;
	line-height: 25px;
	padding-left:20px;
}
.login_check a{
	font-size:12px;
}

/*弹窗内容所需样式 author maying*/
.login_div {width:410px;height:300px;padding:0px;}
.reg_div {width:500px;height:500px;}
.background-ccc {background:#ccc;}
.mt30 {margin-top:30px;}
.mt10 {margin-top:10px;}
.w100p {width:100%;}
.icons {position: relative;top: 10px;left: 6px;height:0px;float:left;}
.pl25 {padding-left:25px;}