<!--footer star here-->
<div class="footer" style="background-color:#a89574;">
  <div class="container">
	  <div class="footer-main">
		<!-- <div class="footer-top">
			<div class="col-md-3 footer-news">
			<h5>Newsletter</h5>
			</div>
			<div class="col-md-9 ftr-email">
				<input type="text" value="ENTER EMAIL" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='ENTER EMAIL';}">
				<input type="submit" value="SUBSCRIBE" >
			</div>
		</div> -->
		<div class="foter-bottom">
			<!-- <ul class="ftr-socialicons">
				<li><a href="#" class="facebook"> </a></li>
				<li><a href="#" class="twitter"> </a></li>
				<li><a href="#" class="gmail"> </a></li>
				<li><a href="#" class="print"> </a></li>
			</ul> -->
			<p class="footer-copyrts">© 2016 | Design by BeihuaUniversity FFML</p>
		</div>
		</div>
	</div>
</div>
<!--footer end here-->
</body>
</html>