<!DOCTYPE HTML>
<html>
<head>
<title>课外学习生活小组</title>
<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/home/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<meta name="keywords" content="课外,online,学习" />
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/easing.js"></script>

<link rel="stylesheet" href="__PUBLIC__/vendors/jquery-ui/jquery-ui.css">
<script src="__PUBLIC__/vendors/jquery-ui/jquery-ui.js"></script>

<script src="__PUBLIC__/vendors/layer/layer.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			 <div class="logo">
			 	<h1>
			 		<a href="/">课外<span class="logo-clr">online</span></a>
			 	</h1>
			 </div>
			<div class="address">
				<div class="area">
					<?php echo $_SESSION['area']['school']['s_name']?:'请选择学校';?>
				</div>
				<img class="area_img area" src="__PUBLIC__/home/images/down.png" alt=""/>
			</div>
			 <div class="head-right">
			   <div class="top-nav">
			   		<span class="menu"> <img src="__PUBLIC__/home/images/icon.png" alt=""/></span>
					<ul class="res">
						<li>
							<a <if condition="$_SERVER['REQUEST_URI'] eq '/'">class="active"</if> href="/">首页</a>
						</li>
						<li>
							<a <if condition="$_SERVER['PATH_INFO'] eq 'news/newslist'">class="active"</if> href="/home/news/newslist">
								<span data-hover="Search"> 寻宝 </span>
							</a>
						</li>
						<li>
							<a class="addnew" <if condition="$_SERVER['PATH_INFO'] eq 'Add/addNew'">class="active"</if> href="/editor/Add/addNew">
								<span data-hover="Shop">出售</span>
							</a>
						</li>
						<li>
							<a <if condition="$_SERVER['PATH_INFO'] eq 'contact/index'">class="active"</if> href="/home/contact/index">
								<span data-hover="Talk"> 喊我 </span>
							</a>
						</li>
					</ul>
			  </div>
			 <div class="social">
				<ul>
					<if condition="$_SESSION['me']['id']">
					<li>
						<a class="reg_us log_name" href="/editor/index/info">{$_SESSION['me']['email']}
						</a>
						<?php getNoReadMsg();?>
					</li>
					<li>
						<a class="reg_us" href="/editor/user/logout">注销</a>
					</li>
					<else />
					<li>
						<a class="login user reg_us" href="javascript:;">登录</a>
					</li>
					</if>
				</ul>
			</div>
		   </div>
		</div>
	</div>
</div>
<!--header end here-->


<script type="text/javascript">
$(function(){
	var layer_index = 0;
	var layer_offset = ['30%', '38%'];
	//$('.user').click(function(){
	$(document).on('click','.user',function(){
		var url = '';
		if ($(this).hasClass('login')) {
			url = '/editor/user/login';
		} else if ($(this).hasClass('reg')) {
			url = '/editor/user/reg';
		}
		//执行弹窗
		layer_index = dialog(url,layer_offset);
	 	return false;
	});

	//发布 判断是是否登录
	$(document).on('click','.addnew',function(){
		var addnew_callback = '<?php echo base64_encode(U('editor/Add/addNew'));?>';
		var uid = <?php echo $_SESSION['me']['id']?$_SESSION['me']['id']:0;?>;
		if (uid > 0) {
			return true;
		} else {
			layer.close(layer_index);
			dialog('/editor/user/login?callback='+addnew_callback, layer_offset);
			return false;
		}
	});

	//登录页 去注册 关闭当前弹窗 打开新弹窗
	$(document).on('click','.to-reg',function(){
		layer.close(layer_index);
		dialog('/editor/user/reg',layer_offset);
	});
	//登录页 去注册 关闭当前弹窗 打开新弹窗
	$(document).on('click','.to-login',function(){
		layer.close(layer_index);
		dialog('/editor/user/login',layer_offset);
	});

	//切换地区
	$('.area').click(function(){
		dialog('/home/index/changearea','auto');
	});

	//点击发布
	$('.add-new').click(function(){
		if (<?php echo $_SESSION['me']['id']?$_SESSION['me']['id']:0;?>) {
			return true;
		}
		dialog('/editor/user/login',layer_offset)
		return false;
	});

    //抽象弹窗方法
	function dialog(url,layer_offset)
	{
		var html = '';
		$.ajax({
			type  : "post",
			url   : url,
			dataType: "json",
			async   : false,
			success : function(data){
				html = data.data;
			}
		})
	 	
	 	var layer_index = layer.open({
		    type: 1,
		    title: false,
		    maxWidth : 5000,
		    offset: layer_offset,
		    closeBtn: 0,
		    shadeClose: true,
		    skin: 'yourclass',
		    content: html
		});
		return layer_index;
	}
})
</script>