<!DOCTYPE HTML>
<html>
<head>
<title>课外学习生活小组</title>
<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/home/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<meta name="keywords" content="课外,online,学习" />
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__PUBLIC__/home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<script>
	function showselecta(){
		$('#selecta').show();
	}
	function selecta(){
		$('#selecta').hide();
	}
	function showselectb(){
		$('#selectb').show();
	}
	function selectb(){
		$('#selectb').hide();
	}
</script>
<div class="header">
	<div class="container">
		<div class="header-main">
			 <div class="logo">
			 	<h1 style="width:40%;float:left"><a href="/">课外<span class="logo-clr">Online</span></a></h1>
			 	<h6 style="width:60%;float:left;line-height:50px;">
					<if condition="$province">
		 				<a onclick="showselecta()">{$province}</a>
		 			<else/>
		 				<a onclick="showselecta()">[请选则省]</a>
		 				
		 			</if>
		 				<div style="display:none;position:relative;left:100;top:100;z-index:100" id="selecta">
		 					<ul>
		 						<volist name="provs" id="vo">
		 							<li><a href="{:U('home/index/index',array('province'=>$vo['provinceid']))}" onclick="selecta()">{$vo.province}</a></li>
		 						</volist>
		 					</ul>
						</div>
					<if condition="$area">
		 				<a onclick="showselectb()">{$area}</a>
		 			<else/>
		 				<a onclick="showselectb()">[请选则市]</a>
		 			</if>
			 			<div style="display:none;position:relative;left:100;top:100;z-index:100" id="selectb">
		 					<ul>
		 						<volist name="citys" id="vo">	
		 							<li><a href="{:U('home/index/index',array('province'=>$vo['provinceid'],'city'=>$vo['cityid']))}" onclick="selectb()">{$vo['city']}</a></li>
		 						</volist>
		 					</ul>
						</div>
			 		<a href="/" onclick="">[选择学校]</a>
			 	</h6>
			 </div>
			 <div class="head-right">
			   <div class="top-nav">
			   		<span class="menu"> <img src="__PUBLIC__/home/images/icon.png" alt=""/></span>
					<ul class="res">
						<li><a <if condition="$_SERVER['REQUEST_URI'] eq '/'">class="active"</if> href="/"> 首页 </a></li>
						<li><a <if condition="$_SERVER['PATH_INFO'] eq 'news/newslist'">class="active"</if> href="/home/news/newslist"><span data-hover="Search"> 寻宝 </span></a></li>
						<li><a <if condition="$_SERVER['PATH_INFO'] eq 'contact/index'">class="active"</if> href="/home/contact/index"><span data-hover="Talk"> 喊我 </span></a></li>
					<div class="clearfix"> </div>
					</ul>

				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			  </div>
			 <div class="social">
				<ul>
					<if condition="$_SESSION['me']['id']">
					<li>
						<a href="/editor/index/info">{$_SESSION['me']['email']}</a>
					</li>
					<else />
					<li><a href="/editor/user/login">登录</a></li>
					<li><a href="/editor/user/reg">注册</a></li>
					</if>
					
					<!-- <li><a class="fa" href="#"><span> </span> </a></li>
					<li><a class="tw" href="#"><span> </span> </a></li>
					<li><a class="p" href="#"><span> </span> </a></li> -->
				</ul>
			</div>
			<div class="clearfix"> </div>
		   </div>
		   <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--header end here-->