<include file="Public/header" />
<include file="Public/nav" />
<link rel="stylesheet" href="__PUBLIC__/editor/css/collect.css">
<script src="__PUBLIC__/editor/js/collect_table.js"></script>

<div class="container container_bottom">
	 <div class="collect">
	 	<div class="collect_table">
	 		<div class="collect_title">
	 			<ul style="heigt:70px;">
	 				<li style="width:140px">标题</li>
	 				<li style="width:160px">主图</li>
	 				<li style="width:120px">价钱</li>
	 				<li style="width:120px">发布时间</li>
	 				<li style="width:120px">浏览次数</li>
	 				<li style="width:130px">是否置顶</li>
	 				<li style="width:310px">操作</li>
	 			</ul>
	 		</div>
	 		<table id="newlists">
	 			<volist name="datas" id="vo">
	 			<tr height="140px">
	 				<td width="140px">
	 					<a class="link_a" href="/home/news/detail/id/{$vo.id}" target="_blank">
	 						{$vo['title']}
	 					</a>
	 				</td>
	 				<td width="160px">
	 					<!-- <img src="__PUBLIC__/uploads/{$vo['img']}" style="width:100px;height:100px; vertical-align:middle;"> -->
	 					{$vo['img']}
	 				</td>
	 				<td width="120px"  style="color:#a50000">{$vo['price']}元</td>
	 				<td width="120px">{$vo['created']}</td>
	 				<td width="120px">{$vo[show_count]}次</td>
	 				<td width="130px">
	 				<if condition="$vo['is_top'] eq 1">已置顶<else/>未置顶</if></td>
	 				<td width="360px">
	 				<if condition="$vo['status'] eq 1">
		 				<!-- <a href="/index.php/editor/account/cancel/cid/13.html" class="buttthreea">
		 					<div class="butthree">编辑</div>
		 				</a>
		 				<a href="" class="buttthreea">
		 					<div class="butthree top">置顶</div>
		 				</a>
		 				<a href="" class="buttthreea">
		 					<div class="butthree del">删除</div>
		 				</a> -->
		 				<a class='edit buttthreea' href='javascript:;' rel="{$vo['id']}">
		 					<div class="butthree">编辑</div>
		 				</a>
    					<a class='top buttthreea' href='javascript:;' rel="{$vo['id']}">
    						<div class="butthree">置顶</div>
    					</a>
    					<a class='del buttthreea' href='javascript:;' rel="{$vo['id']}">
    						<div class="butthree">删除</div>
    					</a>
		 			<else/>
		 				<if condition="$vo['status'] eq -1">
		 					<a class='recover buttthreea' href='javascript:;' rel="{$vo['id']}">
		 						<div class="butthree">恢复</div>
		 					</a>
		 				</if>
		 			</if>
	 				</td>
	 			</tr>
	 			</volist>
	 		</table>
	 	</div>
	 </div>
</div>

<script type="text/javascript">
	// $(document).ready(function(){
	// 	$('#newlists').DataTable({
	// 		"searching": false,
	// 		"lengthChange": false,
	// 		"ajax" : {
	// 			url : '/editor/index/myList',
	// 			dataSrc: ''
	// 		},
	// 		"order": [[ 0, false ]],
	// 		"columnDefs": [
	// 			{ "orderable": false, "targets": 0 }
	// 		],

	// 		"columns": [
	// 		    // { "orderable": false },
	// 		    // { "orderable": false }
	// 		    { data: 'title' },
	// 	        { data: 'img' },
	// 	        { data: 'price' },
	// 	        { data: 'created' },
	// 	        { data: 'show_count' },
	// 	        { data: 'is_top' },
	// 	        { data: 'handle' }
	// 		  ]
	// 	});
	// });
	$(function(){
		$(document).on('click','#newlists .buttthreea',function(){
			var act = '';
			var msg = '';
			var id = $(this).attr('rel');
			if ($(this).hasClass('del')) {
				act = 'del';
				msg = '确定删除么？删除后将不再展示本条信息！';
			} else if ($(this).hasClass('recover')) {
				act = 'recover';
				msg = '确定恢复么？恢复后将展示本条信息！';
			} else if ($(this).hasClass('top')) {
				act = 'top';
				msg = '确定置顶么？本操可以在顶部显示您的信息但将消耗1课外币！';
			}  else if ($(this).hasClass('edit')) {
				window.location.href="/editor/add/addNew?id="+id;
				return false;
			}
			var td = $(this).closest('td');
			if (confirm(msg)) {
				$.ajax({
					type: "post",
					url : '/editor/index/ajaxHandle',
					data : {act:act,id:id},
					dataType : "json",
					success : function(data){
						//td.html(data.html);
						if (data.status == 'OK') {
							alert(data.info);
							td.html(data.data.html);
						} else {
							alert(data.info);
						}
					}
				});
			}
			return false;
		});
	});
</script>
<include file="Public/footer" />