<include file="Public/header" />
<include file="Public/nav" />
<style>
	#newlists_wrapper {
		padding-bottom: 20px;
	}
	html,body {
		font-family: "微软雅黑";
	}
	select {
		border: 1px solid #ddd !important;
		border-radius: 5px;
	}
	table.dataTable thead th, table.dataTable thead td {
		border-bottom: 1px solid #ddd;
	}
	table.dataTable.no-footer {
		border-bottom: none;
	}
	table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
		border-top: none;
		border-bottom: 1px solid #ddd;
	}
	h3 {
		font-weight: normal;
		font-size: 20px;
	}
	.sorting_1,table tr td {
		background-color: #fff !important;
	}
	table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
		background-color: #fff !important;
	}
	table tbody tr:hover {
		background-color: #efefef;
	}
</style>
<div class="container container_font">
	<h3>发布记录</h3>
	<table id="newlists" class="display">
	    <thead>
	        <tr>
	            <th>标题</th>
	            <th>主图</th>
	            <th>价钱</th>
	            <th>发布时间</th>
	            <th>浏览次数</th>
	            <th>是否置顶</th>
	            <th>操作</th>
	        </tr>
	    </thead>
	    <tbody>
	        
	    </tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#newlists').DataTable({
			"searching": false,
			"lengthChange": false,
			"ajax" : {
				url : '/editor/index/myList',
				dataSrc: ''
			},
			"order": [[ 0, false ]],
			"columnDefs": [
				{ "orderable": false, "targets": 0 }
			],

			"columns": [
			    // { "orderable": false },
			    // { "orderable": false }
			    { data: 'title' },
		        { data: 'img' },
		        { data: 'price' },
		        { data: 'created' },
		        { data: 'show_count' },
		        { data: 'is_top' },
		        { data: 'handle' }
			  ]
		});
	});
	$(function(){
		$(document).on('click','#newlists .btn',function(){
			var act = '';
			var msg = '';
			var id = $(this).attr('rel');
			if ($(this).hasClass('del')) {
				act = 'del';
				msg = '确定删除么？删除后将不再展示本条信息！';
			} else if ($(this).hasClass('recover')) {
				act = 'recover';
				msg = '确定恢复么？恢复后将展示本条信息！';
			} else if ($(this).hasClass('top')) {
				act = 'top';
				msg = '确定置顶么？本操可以在顶部显示您的信息但将消耗1课外币！';
			}  else if ($(this).hasClass('edit')) {
				window.location.href="/editor/add/addNew?id="+id;
				return false;
			}
			var td = $(this).closest('td');
			if (confirm(msg)) {
				$.ajax({
					type: "post",
					url : '/editor/index/ajaxHandle',
					data : {act:act,id:id},
					dataType : "json",
					success : function(data){
						//td.html(data.html);
						if (data.status == 'OK') {
							alert(data.info);
							td.html(data.data.html);
						} else {
							alert(data.info);
						}
					}
				});
			}
			return false;
		});
	});
</script>
<include file="Public/footer" />