<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$page.numPerPage}" />
	<input type="hidden" name="orderField" value="{$page.orderField}" />
	<input type="hidden" name="orderDirection" value="{$page.orderDirection}" />
</form>


<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/admin/user/lists" method="post">
	<div class="searchBar">
		<ul class="searchContent" style="height:auto">
			<li>
				用  户  名：
				<input type="text" name="nickname" value="<?php echo $_REQUEST['nickname']?>"/>
			</li>
			
			<li>
				<p style="width:500px">
					分  类：
					<select class="" name="category_id" id="category">
							<option value="">所有分类</option>
							<volist name="category" id="category">
								<option value="{$category.id}" <if condition="$category['id'] eq $_REQUEST['category_id']">selected="selected"</if>>{$category.name}</option>
							</volist>
					</select>
				</p>
			</li>
			<li>
				发布时间：
				<input type="text" class="date" name="start_time" value="<?php echo $_REQUEST['start_time']?>" style="width:75px"/>~<input type="text" class="date" name="end_time" value="<?php echo $_REQUEST['end_time']?>" style="width:75px"/>
			</li>
		</ul>
		
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<!-- <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li> -->
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<!-- <div class="panelBar">
	</div> -->
	<table class="table" width="100%" layoutH="135">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="50" orderField="accountNo" class="asc">ID</th>
				<th width="50">举报次数</th>
				<th orderField="accountName" width="60">置顶</th>
				<th orderField="accountName" width="60">显示</th>
				<th width="120" orderField="accountType">标题</th>
				<th width="110" orderField="accountCert">分类</th>
				<th width="80" orderField="accountCert">用户</th>
				<th width="60" align="center" orderField="accountLevel">价格</th>
				<th width="70">发布日期</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist id="vo" name="newslist">
			<tr target="sid_user" rel="1">
				<td><input name="ids" value="xxx" type="checkbox"></td>
				<td>{$vo.id}</td>
				<td>{$vo.report_count}</td>
				<td>
					<if condition="$vo['is_top'] == 1">
						<a title="点击关闭置顶" target="ajaxTodo" href="/admin/news/ajaxChangeStatus?id={$vo.id}&is_top=1" rel="usercontainer">是</a>
					<else/>
						<a title="点击开启置顶" target="ajaxTodo" href="/admin/news/ajaxChangeStatus?id={$vo.id}&is_top=0" rel="usercontainer">否</a>
					</if>
				</td>
				<td>
					<if condition="$vo['status'] == 1">
						正常
					<else/>
						<if condition="$vo['status'] == -2">
							系统关闭
						<else/>
							用户删除
						</if>
					</if>
				</td>
				<td><a href="/admin/news/edit_news?id={$vo.id}" class="dialog">{$vo.title}</a></td>
				<td>{$vo.cat_name}</td>
				<td>{$vo.u_nickname}</td>
				<td>￥{$vo.price}</td>
				<td><?php echo date(Y年m月d日,$vo['created']) ?></td>
				<td>
					<a title="开启" class="btnEdit" target="ajaxTodo" href="/admin/news/ajaxChangeDel?id={$vo.id}&status=1" >开启</a>
					<a title="删除" target="ajaxTodo" href="demo/common/ajaxChangeDel?id={$vo.id}&status=-2" class="btnDel">删除</a>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共{$page.totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$page.totalCount}" numPerPage="{$page.numPerPage}" pageNumShown="6" currentPage="{$page.pageNum}"></div>

	</div>
</div>
