<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$page.numPerPage}" />
	<input type="hidden" name="orderField" value="{$page.orderField}" />
	<input type="hidden" name="orderDirection" value="{$page.orderDirection}" />
</form>


<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/admin/news/report" method="post">
	<div class="searchBar">
		<ul class="searchContent" style="height:auto">
			<li>
				内容id：
				<input type="text" name="news_id" value="<?php echo $_REQUEST['news_id']?>"/>
			</li>
			<li>
				用户id：
				<input type="text" name="user_id" value="<?php echo $_REQUEST['user_id']?>"/>
			</li>
			<li>
				发布时间：
				<input type="text" class="date" name="start_time" value="<?php echo $_REQUEST['start_time']?>" style="width:75px"/>~<input type="text" class="date" name="end_time" value="<?php echo $_REQUEST['end_time']?>" style="width:75px"/>
			</li>
		</ul>
		
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<!-- <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li> -->
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<!-- <div class="panelBar">
	</div> -->
	<table class="table" width="100%" layoutH="135">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="50" orderField="id" class="<?php if ($page['orderField'] == 'id') echo $page['orderDirection']?>">ID</th>
				<th width="50" orderField="news_id" class="<?php if ($page['orderField'] == 'news_id') echo $page['orderDirection']?>">内容id</th>
				<th width="60" orderField="email" class="<?php if ($page['orderField'] == 'email') echo $page['orderDirection']?>">联系邮件</th>
				<th width="60">原因</th>
				<th width="120" orderField="user_id" class="<?php if ($page['orderField'] == 'user_id') echo $page['orderDirection']?>">用户id</th>
				<th width="110" orderField="status" class="<?php if ($page['orderField'] == 'status') echo $page['orderDirection']?>">状态</th>
				<th width="110" orderField="ip_address" class="<?php if ($page['orderField'] == 'ip_address') echo $page['orderDirection']?>">IP地址</th>
				<th width="80" orderField="create_time" class="<?php if ($page['orderField'] == 'create_time') echo $page['orderDirection']?>">创建时间</th>
				<th width="60" orderField="handle_time" class="<?php if ($page['orderField'] == 'handle_time') echo $page['orderDirection']?>">处理时间</th> 
				<th width="70">操作</th> 
			</tr>
		</thead>
		<tbody>
			<volist id="vo" name="marklist">
			<tr target="sid_user" rel="1">
				<td><input name="ids" value="xxx" type="checkbox"></td>
				<td>{$vo.id}</td>
				<td>{$vo.news_id}</td>
				<td>{$vo.email}</td>
				<td>{$vo.mark_result}</td>
				<td>{$vo.user_id}</td>
				<td>{$vo.status}</td>
				<td>{$vo.ip_address|long2ip}</td>
				<td><?php echo date('Y-m-d H:i:s',$vo['create_time']) ?></td>
				<td><?php echo date('Y-m-d H:i:s',$vo['handle_time']) ?></td>
				<td>
					<a title="关闭相关内容" target="ajaxTodo" href="/admin/news/ajaxChangeDel?id={$vo.news_id}&status=-2" class="btnDel">删除</a>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共{$page.totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$page.totalCount}" numPerPage="{$page.numPerPage}" pageNumShown="6" currentPage="{$page.pageNum}"></div>

	</div>
</div>
