<include file="Public/header" />

<include file="Public/nav" />
<!-- <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
	<div class="container">
		<span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">课外Online</span>
		<p class="lead">课外Online是专为大学生提供的二手宝贝转让平台，旨为打造最便利的平台，祝您使用愉快。</p>
	</div>
</main>
-->
<div class="container">
<h3>密码修改</h3>
<form class="form-horizontal" method="post" action="{:U('editor/Account/Modify')}">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">旧密码</label>
		<div class="col-sm-6">
		 	<input type="password" class="form-control" id="inputEmail3" placeholder="旧密码" name="oldpassword">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" id="inputPassword3" placeholder="新密码" name="newpassword">
		</div>
	</div>
	<div class="form-group">
		<label for="inputCheckPassword" class="col-sm-2 control-label">确认密码</label>
		<div class="col-sm-6">
			<input type="password" name="check_password" class="form-control" id="inputCheckPassword" placeholder="确认密码">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</div>
</form>
</div>

<include file="Public/footer" />