	<!--start-footer-->
	<div class="footer">
		<div class="footer-top">
			<p class="footer-class">© 2016-2018 kewai.online 版权所有 | 吉ICP备15002460号<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257408584'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257408584%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
		</div>
	</div>
	<!--end-footer-->
</body>
</html>