<!DOCTYPE html>
<html>
<head>
<title>课外online 用户平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="__PUBLIC__/css/list.css"/>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/vendors/datatables/js/jquery.dataTables.min.js"></script>
<link href="__PUBLIC__/vendors/datatables/css/jquery.dataTables.min.css" rel='stylesheet' type='text/css' />

<script type="text/javascript" src="__PUBLIC__/js/editor_log_tab.js"></script>
<link href="__PUBLIC__/css/editor_log_tab.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/editor_user.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/editor_public.css" rel='stylesheet' type='text/css' />
<style type="text/css">
	.container {min-height: 500px}
	header .container {min-height: 0px}
</style>