<script type="text/javascript" src="__PUBLIC__/js/editor_log_tab.js"></script>
<link href="__PUBLIC__/css/editor_log_tab.css?v=<?php echo rand();?>" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/editor_user.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/css/editor_public.css" rel='stylesheet' type='text/css' />
<div class="container-fluid reg_div">
	<div class="row">
		<div class="col-md-12" style="margin-top:10px;">
			<form class="form-horizontal" action="{:U('editor/user/handle_reg')}" method="post">
				<div class="form-group mt30">
					<label for="inputEmail" class="col-sm-3 control-label">邮箱：</label>
					<div class="col-sm-8">
						<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPhone" class="col-sm-3 control-label">电话：</label>
					<div class="col-sm-8">
						<input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Phone">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-3 control-label">密码：</label>
					<div class="col-sm-8">
						<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label for="inputCheckPassword" class="col-sm-3 control-label">确认密码：</label>
					<div class="col-sm-8">
						<input type="password" name="check_password" class="form-control" id="inputCheckPassword" placeholder="CheckPassword">
					</div>
				</div>
				<div class="form-group">
					<label for="ask" class="col-sm-3 control-label">安全问题：</label>
					<div class="col-sm-8">
						<select name="answer" class="form-control" id="ask" >
							<volist name="s_answer" id="vo">
								<option value="{$vo.aid}">{$vo.atitle}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="answer" class="col-sm-3 control-label">安全答案：</label>
					<div class="col-sm-8">
						<input type="text" name="a_ans" class="form-control" id="a_ans">
					</div>
				</div>
				<div class="form-group">
					<label for="university" class="col-sm-3 control-label">所在大学：</label>
					<div class="col-sm-8">
						<select name="sid" class="form-control" id="sid" >
							<volist name="s_list" id="vo">
								<option value="{$vo.id}">{$vo.s_name}</option>
							</volist>
						</select>
					</div>
				</div>
			  	<div class="form-group mt30">
					<div class="col-sm-12">
						<input type="submit" class="btn btn-primary w100p"></input>
					</div>
				</div>
			 
			</form>
		</div>
	</div>
</div>