<h2 class="contentTitle">修改管理员账号</h2>


<div class="pageContent">
	
	<form method="post" action="/admin/adminuser/save_admin_user" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<p style="width:500px">
				<label>姓名：</label>
				<input type="text" name="name" maxlength="20" class="required" value="{$admin_user_info.name}" />
			</p>
			<p style="width:500px">
				<label>邮箱：</label>
				<input type="text" name="email" maxlength="20" class="required" value="{$admin_user_info.email}" />
			</p>
			<p style="width:500px">
				<label>部门：</label>
				<input type="text" name="department" maxlength="20" class="required" value="{$admin_user_info.department}" />
			</p>
			<p style="width:500px">
				<label>密码：</label>
				<input type="password" name="password" maxlength="20" class="" value="" /> 
				*留空为不修改密码
			</p>
			
			<div class="divider"></div>
		</div>
		<div class="formBar">
			<ul>
				<input type="hidden" name="id" value="{$admin_user_info['id']}">
				<input type="hidden" name="close_dialog" value="1">
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
	$(function(){
		console.log('123');
	})
</script>